{% import "macros::img.twig" as img %}
{% import "macros::server.twig" as server %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{{pageTitle}}
		</title>
		<script>
			{{ getFile('./js/inline.js') }}</script>
		<link rel="stylesheet" href="css/index.min.css">
	</head>
	<body>
		<div class="site-wrap">
			{% include "header.twig" %}
			<main class="main">
				{% include "templateParts::sidebar.twig" %}

				<div class="site-content"> {% block main %}{% endblock %}
					</div>
					<div class="side-list-friends">
						<a href="#" class="link online">
							<span class="count">
								10
							</span>
							{{img.get({src: "friends-1.png"})}}
						</a>
						<a href="#" class="link">
							{{img.get({src: "friends-2.png"})}}
						</a>
						<a href="#" class="link">
							{{img.get({src: "friends-3.png"})}}
						</a>
						<a href="#" class="link online">
							{{img.get({src: "friends-4.png"})}}
						</a>
						<a href="#" class="link-more">
							+9
						</a>
					</div>
				</main>
				{% include "footer.twig" %}
			</div>
			<script src="js/index.min.js"></script>
		</body>
	</html>
