<section class="section section-company">
	<div class="container">
		<h1 class="page-title">
			ООО «ДЕ-КА Транс»
			<span class="ico">
				{{img.getSvg({src: 'checked', lazy: true})}}
			</span>
		</h1>
		<div class="tabs-links">
			<a href="#" class="tab-link active">
				<span class="text">Компания</span>
			</a>
			<a href="#" class="tab-link">
				<span class="text">Отзывы (11)</span>
			</a>
			<a href="#" class="tab-link">
				<span class="text">Партнеры (4<span class="c-green">+5</span>)</span>
			</a>
			<a href="#" class="tab-link">
				<span class="text">Публикации (10)
				</span>
			</a>
			<a href="#" class="tab-link">
				<span class="text">Представители (2<span class="c-green">+1</span>)</span>
			</a>
		</div>
		<div class="company-content">
			<div class="cover-wrap">
				{{img.get({src: 'company.png', lazy: true})}}
			</div>

			<div class="content-wrap">
				<div class="content-card card-info">
					<div class="card-menu dropdown js-dropdown">
						<div class="dropdown-btn js-dropdown-trigger">
							<span class="open">
								{{img.getSvg({src: 'more-horizontal'})}}
							</span>
							<span class="close">
								{{img.getSvg({src: 'close'})}}
							</span>
						</div>
						<div class="dropdown-content">
							<div class="dropdown-body">
								<a href="#" class="action-btn">
									<span class="ico">
										{{img.getSvg({src: 'edit'})}}
									</span>
									<span class="text">Изменить данные</span>
								</a>
								<a href="#" class="action-btn">
									<span class="ico">
										{{img.getSvg({src: 'share'})}}
									</span>
									<span class="text">Поделиться ссылкой</span>
								</a>
							</div>
						</div>
					</div>
					<div class="img-col">
						<div class="img-wrap">
							{{img.get({src: 'logo-1.png', lazy: true})}}
						</div>
						<div class="desc">
							<div class="type">Частное лицо</div>
							<div class="date">
								11.06.2022, 12:32
							</div>
						</div>
					</div>
					<div class="content-col">
						<div class="service-title">
							Таможенные услуги · Сертификация товаров · Международные грузоперевозки
						</div>
						<div class="country">
							<span class="flag">
								{{img.getSvg({src: 'flag-ru'})}}
							</span>
							<span class="text">Россия</span>
						</div>
						<div class="info-list">
							<div class="info-row">
								<span class="label">Год основания:</span>
								<span class="value">2015</span>
							</div>
							<div class="info-row">
								<span class="label">Количество сотрудников:</span>
								<span class="value">20-30</span>
							</div>
							<div class="info-row">
								<span class="label">
									Отрасль:
								</span>
								<span class="value">
									Деятельность домашних хозяйств в качестве работодателей; недифференцированная деятельность
								</span>
							</div>
						</div>
						<div class="reviews-count">
							<span class="value">4.9/5</span>
							<span class="count">(11 отзывов)</span>
						</div>
						<div class="tags-list">
							<span class="tag">Потенциальный партнер</span>
							<span class="tag">Интересовался вашей анкетой</span>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
