<section class="section section-catalog">
	<div class="container">
		<a href="#" class="link-back">
			<span class="icon">
				{{img.getSvg({src: "arrow-left"})}}
			</span>
			<span class="text">
				На главную
			</span>
		</a>
		<div class="page-headline">
			<h1 class="section-title">
				Каталог компаний и услуг
			</h1>
			<div class="description">
				Платформа объединяет компании и специалистов всех направлений —  в том числе экспортные центры, гарантийные агентства, инвестиционные фонды, частные агенства.
			</div>
		</div>
		<form action="#" class="form form-catalog-search">
			<div class="input-wrap-search-reverse">
				<button type="submit" class="icon">
					{{img.getSvg({src: "search"})}}
				</button>
				<input type="text" class="input" placeholder="Поиск по деятельности, услугам или продуктам">
			</div>
			<button type="submit" class="btn btn-lg btn-white">
				Найти
			</button>

		</form>
		<form action="#" class="form form-catalog-filters"></form>

		<div class="row row-catalog">
			<div class="col col-main">
				<div class="cards-companies">
					<div class="card">
						<div class="card-body">
							<div class="preview">
								<span class="img">
									{{img.get({src:"card-company-1.png"})}}
								</span>
							</div>
							<div class="info">
								<div class="headline">
									<h4 class="title">
										<span class="text">
											ООО «Таттех»
										</span>
										<span class="icon"></span>
									</h4>
									<div class="description">
										Предлагаем перевозку сборных грузов из Объединенных Арабских Эмиратов в Россию и в обратном направлении.
									</div>
								</div>
								<div class="country">
									<span class="flag">
										{{img.getSvg({src:"flag-ru"})}}
									</span>
									<span class="text">
										Россия
									</span>
								</div>
								<ul class="list-props">
									<li class="list-item">
										<span class="prop">
											Год основания:
										</span>
										<span class="value">
											2015
										</span>
									</li>
									<li class="list-item">
										<span class="prop">
											Количество сотрудников:
										</span>
										<span class="value">
											20-30
										</span>
									</li>
									<li class="list-item">
										<span class="prop">
											Отрасль:
										</span>
										<span class="value">
											Деятельность домашних хозяйств в качестве работодателей; недифференцированная деятельность
										</span>
									</li>
								</ul>
								<div class="review">
									<span class="count">
										4.9/5
									</span>
									<span class="total">
										(11 отзывов)
									</span>
								</div>
								<span class="tag">
									У вас в партнерах
								</span>
							</div>
							<div class="settings">
								<div class="dropdown js-dropdown">
									<div class="dropdown-trigger js-dropdown-trigger">
										<span class="icon icon-open">
											{{img.getSvg({src:"more-horizontal"})}}
										</span>
										<span class="icon icon-close">
											{{img.getSvg({src:"close"})}}
										</span>
									</div>
									<div class="dropdown-body">
										<ul class="list">
											<li class="list-item">
												<a href="#" class="link">
													<span class="icon">
														{{img.getSvg({src:"message-square"})}}
													</span>
													<span class="text">
														Написать сообщение
													</span>
												</a>
											</li>
											<li class="list-item">
												<a href="#" class="link">
													<span class="icon">
														{{img.getSvg({src:"user"})}}
													</span>

													<span class="text">
														Посмотреть профиль
													</span>
												</a>
											</li>
											<li class="list-item">
												<a href="#" class="link">
													<span class="icon">
														{{img.getSvg({src:"bookmark"})}}
													</span>
													<span class="text">
														Добавить в закладки
													</span>
												</a>
											</li>
											<li class="list-item">
												<a href="" class="link">
													<span class="icon">
														{{img.getSvg({src:"share-2"})}}
													</span>
													<span class="text">
														Поделиться ссылкой
													</span>
												</a>
											</li>
											<li class="list-item">
												<a href="" class="link">
													<span class="icon">
														{{img.getSvg({src:"user-plus"})}}
													</span>
													<span class="text">
														Добавить в партнеры
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="card-foot"></div>
					</div>
				</div>
			</div>
			<div class="col col-side">
				<div class="headline">
					<h3 class="title">
						Новые участники
					</h3>
					<div class="description">
						из интересов
						<a href="#">
							транспорт, авиаперевозки и логистика, Россия, Египет...
						</a>
					</div>
				</div>
				<div class="cards-companies-preview">
					<a href="#" class="card">
						<span class="img">
							{{img.get({src:"card-company-preview-1.png"})}}
						</span>
						<h4 class="title">
							ООО «СТРОЙТРАНСГРУЗ.РФ»
						</h4>
						<div class="description">
							Автомобильные грузоперевозки по России
						</div>
						<div class="review">
							<span class="count">
								4.9/5
							</span>
							<span class="total">
								(11 отзывов)
							</span>
						</div>
						<div class="country">
							<span class="flag">
								{{img.getSvg({src:"flag-ru"})}}
							</span>
							<span class="text">
								Россия
							</span>
						</div>
					</a>
				</div>
				<div class="cards-ads-preview">
					<a href="#" class="card">
						<span class="img">
							{{img.get({src:"card-ad-preview-1.png"})}}
						</span>
						<span class="badge badge-sm badge-grey">
							ADS
						</span>
						<h4 class="title">
							6-й Международный авиасалон в Бахрейне BIAS. 09.09 - 11.09.2022
						</h4>
					</a>
				</div>
			</div>
		</div>

		<div class="cards-ads">
			<div class="card">
				<div class="card-img">
					<span class="type"></span>
					<span class="img">
						{{img.get({src:"card-ad-1.png"})}}
					</span>
				</div>
				<div class="card-info">
					<h4 class="title">
						Mainfreight
					</h4>
					<div class="description">
						Обеспечит качественную бесперебойную логистику на всём пространстве арабского мира
					</div>
					<ul class="list-services">
						<li class="list-item">
							<a href="#" class="link">
								Услуги и цены
							</a>
						</li>
						<li class="list-item">
							<a href="#" class="link">
								Контакты
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
